$outline-debug: 1px solid red;

$background: rgb(17, 16, 16);
$primary: rgb(255, 255, 255);
$accent: rgb(229, 9, 20);

$font: 16px "Inter" sans-serif;

$best-transition: all 0.75s cubic-bezier(0.215, 0.061, 0.355, 1);

$shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$shadow-hover: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
$shadow-active: 0px 0px 0px 0px rgba(0, 0, 0, 0);
