.mdl-button--raised {
  box-shadow: 0 2px 2px 0 rgb(202, 202, 202), 0 3px 1px -2px rgb(0 0 0 / 20%),
    0 1px 5px 0 rgb(202, 202, 202) !important;
}

firebaseui-idp-button
  mdl-button
  mdl-js-button
  mdl-button--raised
  firebaseui-idp-google
  firebaseui-id-idp-button--raised {
  box-shadow: 0 2px 2px 0 rgb(202, 202, 202), 0 3px 1px -2px rgb(0 0 0 / 20%),
    0 1px 5px 0 rgb(202, 202, 202) !important;
}

firebaseui-id-secondary-link
  firebaseui-button
  mdl-button
  mdl-js-button
  mdl-button--primary:hover {
  color: white !important;
}

