
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Netflix Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
@font-face {
  font-family: "Netflix Neue";
  src: url(../src/assets/fonts/NetflixSans-Bold.otf) format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Netflix Neue";
  src: url(../src/assets/fonts/NetflixSans-Medium.otf) format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Netflix Neue";
  src: url(../src/assets/fonts/NetflixSans-Regular.otf) format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Netflix Neue";
  src: url(../src/assets/fonts/NetflixSans-Light.otf) format("opentype");
  font-weight: 200;
}